In [2]:
import pandas as pd

In [50]:
dataset=pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/10Realestatedataset_modified_updated.csv")

In [51]:
dataset.shape

(7686, 9)

In [51]:
dataset.columns

Index(['Price', 'Bedrooms', 'Bathrooms', 'Land_Area', 'Year', 'Status',
       'Furnished', 'Address', 'Property_Type'],
      dtype='object')

In [62]:
dataset.duplicated().sum()

np.int64(3079)

In [53]:
dataset[dataset.duplicated(keep=False)].sort_values(by=dataset.columns.tolist())

,Price,Bedrooms,Bathrooms,Land_Area,Year,Status,Furnished,Address,Property_Type
6869,2.300000e+03,2.0,2.0,163.00,2025.0,For Rent,Yes,Bole,Apartment
6878,2.300000e+03,2.0,2.0,163.00,2025.0,For Rent,Yes,Bole,Apartment
7108,2.700000e+03,1.0,2.0,57.47,2024.0,For Rent,No,Bole,Apartment
7109,2.700000e+03,1.0,2.0,57.47,2024.0,For Rent,No,Bole,Apartment
4271,2.800000e+03,3.0,3.0,170.00,2025.0,For Rent,Yes,Kirkos,Apartment
...,...,...,...,...,...,...,...,...,...
6225,2.600000e+08,3.0,3.0,200.00,2025.0,For Rent,Yes,Bole,Apartment
3906,2.600000e+08,5.0,5.0,900.00,2025.0,For Sale,Yes,Bole,Apartment
3921,2.600000e+08,5.0,5.0,900.00,2025.0,For Sale,Yes,Bole,Apartment
1718,2.200000e+09,1.0,1.0,5000.00,2025.0,For Sale,No,Yeka,Apartment
3944,2.200000e+09,1.0,1.0,5000.00,2025.0,For Sale,No,Yeka,Apartment

In [ ]:
row_counts = dataset.value_counts()
print(row_counts[:20])

Price       Bedrooms  Bathrooms  Land_Area  Year    Status    Furnished  Address           Property_Type
110000.0    2.0       2.0        90.0       2025.0  For Rent  Yes        Kirkos            Apartment        79
85000.0     2.0       1.0        113.0      2025.0  For Rent  Yes        Bole              Apartment        76
17000000.0  3.0       2.0        145.0      2025.0  For Sale  No         Bole              Apartment        71
160000.0    3.0       3.0        200.0      2025.0  For Rent  Yes        Bole              Apartment        64
5500000.0   2.0       2.0        88.0       2025.0  For Sale  Yes        Yeka              Apartment        60
15000000.0  3.0       3.0        179.0      2025.0  For Sale  No         Bole              Apartment        51
120000.0    3.0       2.0        120.0      2025.0  For Rent  Yes        Bole              Apartment        35
17000000.0  3.0       2.0        199.0      2025.0  For Sale  No         Bole              Apartment        31
14880000.0  2.0       3.0        158.0      2025.0  For Sale  No         Bole              Apartment        29
8000000.0   2.0       2.0        135.0      2025.0  For Sale  No         Nifas Silk-Lafto  Apartment        28
Name: count, dtype: int64

In [30]:
row_counts[:50]

Price        Bedrooms  Bathrooms  Land_Area  Year    Status    Furnished  Address           Property_Type
17000000.0   3.0       2.0        167.0      2025.0  For Sale  No         Bole              Apartment        93
6500000.0    3.0       2.0        154.0      2025.0  For Sale  No         Bole              Apartment        88
12000000.0   3.0       2.0        145.0      2025.0  For Sale  No         Bole              Apartment        87
11000000.0   2.0       2.0        104.0      2025.0  For Sale  No         Bole              Apartment        83
110000.0     2.0       2.0        90.0       2025.0  For Rent  Yes        Kirkos            Apartment        79
85000.0      2.0       1.0        113.0      2025.0  For Rent  Yes        Bole              Apartment        76
17000000.0   3.0       2.0        145.0      2025.0  For Sale  No         Bole              Apartment        71
160000.0     3.0       3.0        200.0      2025.0  For Rent  Yes        Bole              Apartment        64
5500000.0    2.0       2.0        88.0       2025.0  For Sale  Yes        Yeka              Apartment        60
15000000.0   3.0       3.0        179.0      2025.0  For Sale  No         Bole              Apartment        51
120000.0     3.0       2.0        120.0      2025.0  For Rent  Yes        Bole              Apartment        35
17000000.0   3.0       2.0        199.0      2025.0  For Sale  No         Bole              Apartment        30
14880000.0   2.0       3.0        158.0      2025.0  For Sale  No         Bole              Apartment        29
8000000.0    2.0       2.0        135.0      2025.0  For Sale  No         Nifas Silk-Lafto  Apartment        28
100000.0     3.0       3.0        200.0      2025.0  For Rent  Yes        Bole              Apartment        27
50000.0      1.0       1.0        89.0       2025.0  For Rent  Yes        Bole              Apartment        27
150000.0     3.0       2.0        150.0      2025.0  For Rent  No         Yeka              Apartment        22
10000000.0   2.0       2.0        140.0      2025.0  For Sale  No         Bole              Apartment        21
5000000.0    1.0       1.0        63.0       2024.0  For Sale  Yes        Yeka              Apartment        19
16500000.0   4.0       2.0        198.0      2025.0  For Sale  Yes        Bole              Apartment        15
79990.0      3.0       2.0        140.0      2024.0  For Rent  Yes        Yeka              Apartment        14
79900.0      1.0       1.0        63.0       2024.0  For Rent  Yes        Yeka              Apartment        11
80000.0      7.0       5.0        175.0      2025.0  For Rent  No         Bole              Villa            11
12190000.0   2.0       2.0        106.0      2025.0  For Sale  No         Bole              Apartment        10
90000.0      3.0       2.0        190.0      2024.0  For Rent  Yes        Lemi Kura         Apartment        10
19500000.0   2.0       1.0        166.0      2025.0  For Sale  Yes        Bole              Apartment         8
12700000.0   3.0       2.0        145.0      2025.0  For Sale  No         Bole              Apartment         8
75000.0      3.0       3.0        215.0      2025.0  For Rent  No         Yeka              Apartment         8
80000.0      1.0       1.0        80.0       2025.0  For Rent  Yes        Yeka              Apartment         6
12500000.0   3.0       2.0        115.0      2025.0  For Sale  No         Bole              Apartment         6
260000000.0  3.0       3.0        200.0      2025.0  For Rent  Yes        Bole              Apartment         6
45000.0      3.0       3.0        128.0      2025.0  For Rent  No         Yeka              Apartment         6
55000.0      3.0       3.0        151.0      2025.0  For Rent  No         Yeka              Apartment         6
45000.0      3.0       3.0        154.0      2025.0  For Rent  No         Bole              Apartment         5
80000.0      1.0       1.0        100.0      2025.0  For Rent  Yes        Bole              Apartment         5
110000.0     2.0       2.0        145.0      2025.0  For Sale  No         Bole              Apartment         5
40000.0      3.0       2.0        115.0      2025.0  For Rent  No         Bole              Apartment         5
13500000.0   3.0       2.0        115.0      2025.0  For Sale  No         Bole              Apartment         5
79900.0      2.0       2.0        109.0      2024.0  For Rent  Yes        Yeka              Apartment         5
30000000.0   5.0       3.0        250.0      2025.0  For Sale  No         Bole              Villa             5
16000000.0   3.0       3.0        179.0      2025.0  For Sale  No         Bole              Apartment         5
31000000.0   5.0       6.0        156.0      2024.0  For Sale  Yes        Akaky Kaliti      Villa             5
6000000.0    1.0       1.0        79.0       2024.0  For Sale  Yes        Lemi Kura         Apartment         5
17000000.0   3.0       3.0        150.0      2025.0  For Sale  No         Bole              Villa             5
12000000.0   3.0       2.0        110.0      2025.0  For Sale  No         Bole              Apartment         5
30000000.0   3.0       3.0        250.0      2025.0  For Sale  No         Bole              Villa             5
55000.0      3.0       2.0        145.0      2025.0  For Rent  No         Yeka              Apartment         5
27000000.0   3.0       3.0        250.0      2025.0  For Sale  No         Bole              Villa             5
90000.0      3.0       3.0        150.0      2025.0  For Rent  Yes        Bole              Apartment         5
19000000.0   3.0       3.0        150.0      2025.0  For Sale  No         Bole              Villa             4
Name: count, dtype: int64

In [16]:
dataset["Address"].mode()

0    Bole
Name: Address, dtype: object

In [31]:
dataset["Bedrooms"].value_counts()
print(sorted(dataset["Bathrooms"].unique()))

[np.float64(nan), np.float64(0.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0), np.float64(10.0), np.float64(12.0), np.float64(13.0), np.float64(14.0), np.float64(15.0), np.float64(18.0), np.float64(20.0), np.float64(62.0)]

In [ ]:
mode_count = dataset['Bedrooms'].value_counts().max()
mode_count
print(f"It occurs {mode_count} times")

It occurs 4641 times

In [ ]:
Price      Bedrooms  Bathrooms  Land_Area  Year  Status    Furnished  Address           Property_Type
12000000   2.0       2.0        107        2025  For Sale  No         Bole              Apartment        141
90000      5.0       4.0        500        2025  For Rent  No         Bole              Villa            131
2000000    15.0      13.0       900        2025  For Rent  No         Bole              Apartment        123
431000     1.0       2.0        71         2025  For Sale  No         Nifas Silk-Lafto  Apartment        122
85000      2.0       1.0        113        2025  For Rent  Yes        Bole              Apartment        112
14000000   2.0       2.0        119        2025  For Sale  No         Kirkos            Apartment        108
32000000   3.0       2.0        179        2025  For Sale  No         Bole              Apartment        102
17000000   3.0       2.0        167        2025  For Sale  No         Bole              Apartment         93
6500000    3.0       2.0        154        2025  For Sale  No         Bole              Apartment         88
12000000   3.0       2.0        145        2025  For Sale  No         Bole              Apartment         87
11000000   2.0       2.0        104        2025  For Sale  No         Bole              Apartment         83
110000     2.0       2.0        90         2025  For Rent  Yes        Kirkos            Apartment         79
17000000   3.0       2.0        145        2025  For Sale  No         Bole              Apartment         71
160000     3.0       3.0        200        2025  For Rent  Yes        Bole              Apartment         64
5500000    2.0       2.0        88         2025  For Sale  Yes        Yeka              Apartment         60
15000000   3.0       3.0        179        2025  For Sale  No         Bole              Apartment         51
120000     3.0       2.0        120        2025  For Rent  Yes        Bole              Apartment         35
17000000   3.0       2.0        199        2025  For Sale  No         Bole              Apartment         30
14880000   2.0       3.0        158        2025  For Sale  No         Bole              Apartment         29
8000000    2.0       2.0        135        2025  For Sale  No         Nifas Silk-Lafto  Apartment         28
100000     3.0       3.0        200        2025  For Rent  Yes        Bole              Apartment         27
50000      1.0       1.0        89         2025  For Rent  Yes        Bole              Apartment         27
150000     3.0       2.0        150        2025  For Rent  No         Yeka              Apartment         22
10000000   2.0       2.0        140        2025  For Sale  No         Bole              Apartment         21

In [ ]:
import pandas as pd

# Load the dataset, specifying comma as separator
dataset = pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/1Realestatedataset_modified.csv", sep=',')
print("Original shape:", dataset.shape)
print("Column names:", dataset.columns.tolist())
print("Data types:\n", dataset.dtypes)
print("First 5 rows:\n", dataset.head())

# Clean numeric columns by removing any lingering commas and converting to float
for col in ['Price', 'Bedrooms', 'Bathrooms', 'Land_Area', 'Year']:
    dataset[col] = dataset[col].astype(str).str.replace(',', '').astype(float)
6500000.0   3.0       2.0        154.0      2025.0  For Sale  No         Bole     Apartment        88

# Define the condition for the row
condition = (
    (dataset['Price'] == 6500000.0) &
    (dataset['Bedrooms'] == 3.0) &
    (dataset['Bathrooms'] == 2.0) &
    (dataset['Land_Area'] == 154.0) &
    (dataset['Year'] == 2025) &
    (dataset['Status'].str.strip().str.lower() == 'for sale') &
    (dataset['Furnished'].str.strip().str.lower() == 'no') &
    (dataset['Address'].str.strip().str.lower() == 'bole') &
    (dataset['Property_Type'].str.strip().str.lower() == 'apartment')
)

# Check matches
matching_rows = dataset[condition]
print("Number of matching rows:", matching_rows.shape[0])
print("Matching rows sample:\n", matching_rows.head())

# Remove matches
dataset_filtered = dataset[~condition]
print("Shape after filtering:", dataset_filtered.shape)

# Save the updated dataset
dataset_filtered.to_csv("/home/jibril/Documents/REvoEstatePricePrediction/1Realestatedataset_modified_updated.csv", index=False)

Original shape: (7690, 9)
Column names: ['Price', 'Bedrooms', 'Bathrooms', 'Land_Area', 'Year', 'Status', 'Furnished', 'Address', 'Property_Type']
Data types:
 Price              int64
Bedrooms         float64
Bathrooms        float64
Land_Area         object
Year               int64
Status            object
Furnished         object
Address           object
Property_Type     object
dtype: object
First 5 rows:
       Price  Bedrooms  Bathrooms Land_Area  Year    Status Furnished  \
0     70000       1.0        NaN       NaN  2025  For Rent       Yes
1    100000       3.0        NaN       NaN  2025  For Rent       Yes
2  31000000       5.0        3.0     350.0  2025  For Sale        No
3   9500000       NaN        NaN       NaN  2025  For Sale        No
4  15000000       NaN        NaN     120.0  2025  For Sale        No

         Address Property_Type
0           Yeka     Apartment
1      Lemi Kura     Apartment
2      Lemi Kura         Villa
3           Yeka     Apartment
4  Kolfe Keranio         Villa
Number of matching rows: 141
Matching rows sample:
           Price  Bedrooms  Bathrooms  Land_Area    Year    Status Furnished  \
587  12000000.0       2.0        2.0      107.0  2025.0  For Sale        No
607  12000000.0       2.0        2.0      107.0  2025.0  For Sale        No
625  12000000.0       2.0        2.0      107.0  2025.0  For Sale        No
666  12000000.0       2.0        2.0      107.0  2025.0  For Sale        No
725  12000000.0       2.0        2.0      107.0  2025.0  For Sale        No

    Address Property_Type
587    Bole     Apartment
607    Bole     Apartment
625    Bole     Apartment
666    Bole     Apartment
725    Bole     Apartment
Shape after filtering: (7549, 9)

In [38]:
dataset=pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/1Realestatedataset_modified_updated.csv")
dataset.shape

(7692, 9)

In [46]:
import pandas as pd

# Load the dataset, specifying comma as separator
dataset = pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/9Realestatedataset_modified_updated.csv", sep=',')
print("Original shape:", dataset.shape)
print("Column names:", dataset.columns.tolist())
print("Data types:\n", dataset.dtypes)
print("First 5 rows:\n", dataset.head())

# Clean numeric columns by removing any lingering commas and converting to float
for col in ['Price', 'Bedrooms', 'Bathrooms', 'Land_Area', 'Year']:
    dataset[col] = dataset[col].astype(str).str.replace(',', '').astype(float)

# Define the condition for the row
condition = (
    (dataset['Price'] == 11000000.0) &
    (dataset['Bedrooms'] == 2.0) &
    (dataset['Bathrooms'] == 2.0) &
    (dataset['Land_Area'] == 104.0) &
    (dataset['Year'] == 2025.0) &
    (dataset['Status'].str.strip().str.lower() == 'for sale') &
    (dataset['Furnished'].str.strip().str.lower() == 'no') &
    (dataset['Address'].str.strip().str.lower() == 'bole') &
    (dataset['Property_Type'].str.strip().str.lower() == 'apartment')
)

# Check matches
matching_rows = dataset[condition]
print("Number of matching rows:", matching_rows.shape[0])
print("Matching rows sample:\n", matching_rows.head())

# Remove matches
dataset_filtered = dataset[~condition]
print("Shape after filtering:", dataset_filtered.shape)

# Save the updated dataset
dataset_filtered.to_csv("/home/jibril/Documents/REvoEstatePricePrediction/10Realestatedataset_modified_updated.csv", index=False)

Original shape: (7686, 9)
Column names: ['Price', 'Bedrooms', 'Bathrooms', 'Land_Area', 'Year', 'Status', 'Furnished', 'Address', 'Property_Type']
Data types:
 Price            float64
Bedrooms         float64
Bathrooms        float64
Land_Area        float64
Year             float64
Status            object
Furnished         object
Address           object
Property_Type     object
dtype: object
First 5 rows:
         Price  Bedrooms  Bathrooms  Land_Area    Year    Status Furnished  \
0     70000.0       1.0        NaN        NaN  2025.0  For Rent       Yes
1    100000.0       3.0        NaN        NaN  2025.0  For Rent       Yes
2  31000000.0       5.0        3.0      350.0  2025.0  For Sale        No
3   9500000.0       NaN        NaN        NaN  2025.0  For Sale        No
4  15000000.0       NaN        NaN      120.0  2025.0  For Sale        No

         Address Property_Type
0           Yeka     Apartment
1      Lemi Kura     Apartment
2      Lemi Kura         Villa
3           Yeka     Apartment
4  Kolfe Keranio         Villa
Number of matching rows: 85
Matching rows sample:
            Price  Bedrooms  Bathrooms  Land_Area    Year    Status Furnished  \
832   11000000.0       2.0        2.0      104.0  2025.0  For Sale        No
979   11000000.0       2.0        2.0      104.0  2025.0  For Sale        No
1032  11000000.0       2.0        2.0      104.0  2025.0  For Sale        No
1042  11000000.0       2.0        2.0      104.0  2025.0  For Sale        No
1626  11000000.0       2.0        2.0      104.0  2025.0  For Sale        No

     Address Property_Type
832     Bole     Apartment
979     Bole     Apartment
1032    Bole     Apartment
1042    Bole     Apartment
1626    Bole     Apartment
Shape after filtering: (7601, 9)

In [42]:
dataset=pd.read_csv("/home/jibril/Documents/REvoEstatePricePrediction/9Realestatedataset_modified_updated.csv")
dataset.shape

(7600, 9)

In [ ]:
12000000.0  3.0       2.0        145.0      2025.0  For Sale  No         Bole     Apartment        87

In [ ]:
12000000.0,3.0,2.0,145.0,2025.0,For Sale,No,Bole,Apartment
12700000.0,3.0,2.0,145.0,2025.0,For Sale,No,Bole,Apartment
11000000.0,2.0,2.0,104.0,2025.0,For Sale,No,Bole,Apartment
12200000.0,2.0,2.0,121.0,2025.0,For Sale,No,Bole,Apartment
11000000.0,3.0,2.0,209.0,2025.0,For Sale,No,Kirkos,Apartment
11000000.0,2.0,2.0,98.0,2025.0,For Sale,No,Bole,Apartment
12000000.0,3.0,2.0,114.0,2025.0,For Sale,Yes,Bole,Apartment
11800000.0,3.0,3.0,151.0,2025.0,For Sale,No,Bole,Apartment
12000000.0,2.0,2.0,107.0,2025.0,For Sale,No,Bole,Apartment
11500000.0,2.0,2.0,89.0,2025.0,For Sale,Yes,Bole,Apartment
12000000.0,3.0,2.0,115.0,2025.0,For Sale,No,Bole,Apartment
11000000.0,6.0,4.0,250.0,2025.0,For Sale,No,Yeka,Apartment
11000000.0,2.0,2.0,104.0,2025.0,For Sale,No,Bole,Apartment